<div class = "user_login">
<h2><%= @title %></h2>
<hr>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email, t('.email') %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit t('buttons.sign_in') %>
  </div>
<% end %>
<br />
<p><%= t('.new_user') %> <%= link_to t('.sign_up'), signup_path %></p>
<br />
</div>
