<div class = "articles table" >
  <% if current_user.admin? %>
  <div class = "articles button_delete">
    <%= link_to t('.delete'), nil, :object_url => article_url(article) %>
  </div>
  <% end %>
  <div class = "articles content">
    <%= article_format(article.content) %>
  </div>
  <div class = "articles info" >
    <div class = "articles author" >
      <%= link_to post_by(article), post_author(article) %>
    </div>
    <div class = "articles time" >
      <%= post_time(article) %>
    </div>
    <% if current_user.admin? %>
    <div class = "articles button_edit">
      <%= link_to t('.edit'), edit_article_path(article) %>
    </div>
    <% end %>
  </div>
</div>
