<div class="user info">
  <h2><%= @title %></h2>
  <hr />
  <br />
  <p><%= @user.email %></p>
</div>

<br/>
<br/>

<div class = "picture list">
  <h2><%= pictures_title %></h2> 
  <% if current_user?(@user) %>
    <div class = "picture button_new">
    <%= link_to t('.new_picture'), new_picture_path %>
    </div> 
  <% end %>
  <hr/>
  <br/>
  <ul>
    <%= render @pictures %>
  </ul>
  <%= will_paginate @pictures %>
</div>
