<h2><%= @title %></h2>
<hr />
<br />
<div class="storage">
  <div class="storage list">
    <ul>
    <%= render @storages %>
    </ul>
    <%= will_paginate %>
  </div>
  <% if current_user.admin? %>
    <br />
    <br />
    <% if not dropbox_user %>
      <%= render 'authorize' %>
    <% else %>
      <%= render 'upload' %>
    <% end %>
  <% end%>
</div>
