<header>
  <div class="header">
    <div class="content">
       <%= link_to logo, root_path %>
       <nav>
         <ul>
           <li><%= link_to t('links.home'), root_path %></li>
           <li><%= link_to t('links.contact'), contact_path %></li>
           <% if signed_in? %>
           <li><%= link_to t('links.sign_out'), signout_path, :method => :delete %></li>
           <% else %>
           <li><%= link_to t('links.sign_in'), signin_path %></li>
           <% end %>
         </ul>
       </nav>
    </div>
  </div>

  <div class="navigation">
    <div class="content">
      <nav>
         <ul>
           <% if contact_page? %>
           <li><%= link_to t('links.contact'), '#' %></li>
           <% else %>
           <% if signed_in? %>
           <li><%= link_to t('links.my_page'), current_user %></li>
           <li><%= link_to t('links.settings'), edit_user_path(current_user) %></li>
           <li><%= link_to t('links.news'), '#' %></li>
           <li><%= link_to t('links.users'), users_path %></li>
           <% end %>
           <li><%= link_to t('links.about'), '#' %></li>
           <% end %>
         </ul>
       </nav>
    </div>
  </div>

</header>
