<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="page_layout">

      <%= render 'layouts/header' %>

      <section class="page_body">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= yield %>
      </section>

      <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
